.container {
   /* min-height: 100vh; */
   text-align: center;
}

#header {
  padding-top: 20px;
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
}

body {
  margin: 0px;
  /* font-size: 1.3em; */
  font-family: 'Open Sans', sans-serif;
}

.filter {
  /* padding: 10px; */
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

select {
  width: 300px;
  font-size: 1.1em;
}

label, p {
  font-size: 1.1em;
}

.output {
  width: 100%;
  padding: 10px;
  /* margin-top: 10px; */
  /* min-height: 100vh; */
  text-align: center;
}

img {
  /* width: 1200px; */
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
